<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584323222557-sft7dkovn5l8qg9jtlciqrltu7tuogmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584323222557-sft7dkovn5l8qg9jtlciqrltu7tuogmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_iVzIsFyggaCnPUqwg74yOozNMqh66Y</string>
	<key>GCM_SENDER_ID</key>
	<string>584323222557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admin.MyPlaces</string>
	<key>PROJECT_ID</key>
	<string>myplaces-2ad0d</string>
	<key>STORAGE_BUCKET</key>
	<string>myplaces-2ad0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:584323222557:ios:3f440a2684e856116bcaf4</string>
	<key>DATABASE_URL</key>
	<string>https://myplaces-2ad0d.firebaseio.com</string>
</dict>
</plist>
